* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* padding: .2rem; */
  /* border-radius: .5rem; */
  overflow: hidden;
  height: 100vh;
}
.container__image {
  grid-column: 1 / 3;
  height: 100vh;
  padding: .3rem;
  /* width: 100%; */
}
.container__image img {
    border-radius: .85rem 0 0 .85rem ;
  height: 100%;
  object-fit: cover;
}

.container__inputs {
  grid-column: 3 / 5;
  padding: 4rem 0 0 8rem;
}

.container__inputs .logo img {
  width: 72px;
  height: 72px;
  /* flex-shrink: 0; */
}
.container__inputs .text {
  padding: 0.5rem 0 0 0;
}
.container__inputs .text h1 {
  color: #525252;
  font-family: Nunito Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container__inputs .text p {
  color: #525252;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn {
  display: flex;
  width: 420px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  margin: 25px 0 0 0;
}
.content {
  display: flex;
  padding: 0 0 0 6rem;
  /* justify-content: center; */
  margin: 25px 0;
}
.content p {
  color: #a1a1a1;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.content span {
  color: #ddd;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  display: flex;
  flex-direction: column;
  width: 420px;
}
.input input {
  border-radius: 5px;
  border: 1px solid #ded2d9;
  padding: 18px 10px 13px 10px;
  gap: 13px;
}
.input label {
  color: var(--Gray-3, #828282);
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.input input::placeholder {
  color: var(--Gray-5, #e0e0e0);
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.control_btn {
  display: flex;
  justify-content: space-between;
  width: 420px;
  padding: 0.4rem 0 0.5rem 0;
  /* gap: 222px; */
}
.control_btn .radio img {
  width: 12px;
  height: 12px;
  background-color: #7f265b;
}
.control_btn .radio label {
  color: #a1a1a1;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.control_btn p {
  color: #7f265b;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.btn_send {
  border: none;
  display: flex;
  width: 420px;
  padding: 13px 10px 12px 10px;
  justify-content: center;
  align-items: center;
  gap: 13px;
  border-radius: 6px;
  background: #7f265b;
  color: #fff;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: .5rem 0 0 0 ;
}
.sign__in {
  display: flex;
  padding: 3.5rem 0 0 4rem;
}
.sign__in p {
  color: var(--Gray-3, #828282);
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sign__in span {
  color: #7f265b;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        padding: 0;
        margin: 0;   
    }
    .container__image{
        display: none;
    }
    .container__inputs {
        margin: 0;
        padding: 1rem 0 0  4rem;
    }
}